<!DOCTYPE html>
    <Head>
      <Title> <%= title %> </Title>
      <%= csrf_meta_tag %>
      <%= render 'layouts/stylesheets' %>
    </Head>

    <body>
        <div class="container nova">
            <%= render 'layouts/header'%>
            <section class="round">
              <% flash.each do |key, value| %>
              <div class="flash <%= key %>"><%= value %></div>
              <% end %>
                <%= yield%>
            </section>
            <%= render 'layouts/footer' %>
            <%= debug(params) if Rails.env.development? %>
        </div>
    </body>
</html>